body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overscroll-behavior: none;
}

.tile {
    width: 100%;
    min-height: 85vh; /* Each tile takes the full height of the viewport */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease;
}

.white {
    background-color: beige;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

h1 {
    margin: 0;
    padding-bottom: 20px; /* Space between heading and paragraph */
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    width: 60%; /* Paragraph width restriction for better readability */
    line-height: 1.6;
}

/* Style for all buttons and links styled as buttons */
.link-button {
    display: inline-block;
    background-color: rgba(50, 50, 50, 0.8); /* Same as the login-container for perfect blending */
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    text-decoration: none; /* Removes underline for anchor tags */
    border: none; /* Ensures no visible borders */
    cursor: pointer; /* Cursor indicates clickability on hover */
    text-align: center; /* Centers text within buttons */
    width: 30%; /* Full width to match container */
    box-sizing: border-box; /* Includes padding in width calculation */
    transition: all 0.3s ease; /* Smooth transition for color and transform */
}

.link-button:hover {
    background-color: rgba(80, 80, 80, 0.9); /* Subtly lighter on hover to indicate interactivity */
    transform: translateY(-2px); /* Subtle lift effect on hover */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Adds shadow on hover for depth */
}